.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
    &b {
        padding: 0 0 10px 0;
    }
    &t {
        padding: 10px 0 0 0;
    }
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px
}

.np {
    padding: none !important;
}

.np- {
    &t {
        padding-top: 0 !important;
    }
    &r {
        padding-right: 0 !important;
    }
    &b {
        padding-bottom: 0 !important;
    }
    &l {
        padding-left: 0 !important;
    }
}

.col-np {
    @extend .np-l;
    @media (max-width: $screen-sm) {
        padding-left: 15px !important;
        padding-top: 5px;
    }
}

.bs10 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mr10 {
    margin-right: 10px;
}

.em2 {
    font-size: 2em;
}

.em3 {
    font-size: 3em;
}

.bg-dark {
    background-color: $gray-dark
}

.bs-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

.br-2 {
    border-radius: $border-radius-large
}

.button-group {
    display: flex;
    justify-content: space-around;
}