@import './bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Dosis:300');
@import './components/*';
@import './_util.scss';
@import './overrides.scss';
@import './_typography.scss';
@import './animations.scss';





.content-title {
    @extend .text-brand;
    font-weight: 800;
    display: block; 
    background-color: $brand-primary;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 0 10px 3px 10px;
    margin: 0 0 15px 0;
}


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}