.gym-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: calc(100vh - 150px);
    justify-content: space-between;
}

.gym-item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    margin-bottom: 40px;
    transition: all 0.2s ease-in;
    text-align: center;
    border-radius: 5px;
    flex: 0 0 auto;
    &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    min-width: 100%;
    @media (min-width: 500p x) {
        min-width: 45%
    }
    @media (min-width: $screen-sm - 1) {
        min-width: 30%;
    }
}

.gym-title {
    color: black;
    display: inline-block;
    white-space: nowrap;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 1.7em;
}
.gym-preview {
    min-height: 210px;
}

