.load-bar {
    position: fixed;
    border-radius: 3px;
    top: 50%;
    transform: translate(-50%, -50%); 
    left: 50%;
    width: 200px;
    height: 10px;
    background-color: $brand-primary;
    overflow: hidden
}

.load-bar__bar {
    border-radius: 3px;
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.load-bar__bar:nth-child(1) {
    background-color: $gray;
    animation: loading 3s ease infinite;
}

.load-bar__bar:nth-child(2) {
    background-color: $brand-primary;
    animation: loading 3s ease 1s infinite;
}

.load-bar__bar:nth-child(3) {
    background-color: $gray-light;
    animation: loading 3s ease 2s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }
    50% {
        left: -10%;
        width: 120%;
        z-index: 10;
    }
    to {
        left: 0;
        width: 100%;
    }
}
