.table-center > td,
.table-center > th {
    text-align: center;
    vertical-align: middle;
    > input {
        text-align: center; 
        vertical-align: middle;
    }
}

.table-mobile > thead > tr > th, 
.table-mobile > thead > tr > td, 
.table-mobile > tbody > tr > th, 
.table-mobile > tbody > tr > td, 
.table-mobile > tfoot > tr > th, 
.table-mobile > tfoot > tr > td {
    @media (max-width: map-get($container-max-widths, sm)) {
        padding:  6px 2px 6px;
    }
}

.gym-row__edit {
    width: 123px;
}

.gym-row__date {
    width: 150px;
}

.table-fixed {
    table-layout: fixed;
}

.route-row__selected {
    background-color: #fafafa;
}

.table__routelist > tbody > tr > td {
    height: 44px;
}