.rt-card__key {
    color: $brand-primary;
}

.rt-card__value {
    color: $gray;
}

.rt-card__content {
    padding: 15px;
    text-align: center;
    background-color: white;
    @include bs(2);
    margin-bottom: 40px;
    transition: all 0.2s ease-in;
    border-radius: 5px;
}

.rt-card__header {
    font-weight: 100;
    display: block;
    border: 1px solid $gray-lightest;
    color: $gray-dark;
    font-size: 2.7em;
    border-radius: 5px;
    padding: 0 10px 3px 10px;
    margin: 0 0 15px 0;
}