.wz-big-container {
    display: flex;
    overflow: hidden;
}
.wz-container {
    max-width: 650px;
    flex-grow: 3;
    color: $gray;
}

.wz-inner {
    width: 600%;
    z-index: 0;
    left: 25px;
    transition: all 0.3s cubic-bezier(.86,.13,.62,.84);
    transform: translateX(0);
}

.wz-item {
    width: 16.6%;
    float: left;
    padding: 0 2%
}

.wz-grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.wz-list-item {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: $border-radius;
    background-color: white;
    margin-bottom: 4%;
    @include box-shadow(0px 0px 4px rgba(0,0,0,.4));
    @media (min-width: map-get($container-max-widths, sm)) {
        width: 48%;
    }
}

.wz-dot {
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-bottom: 5%;
    position: relative;
    width: 30%;
    @media(min-width: map-get($container-max-widths, sm)) {
        width: 22%;
        margin-bottom: 3%;
    }
    &:after {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

.wz-label {
    position: absolute;
    float: left;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
        user-select: none; 
}

.list-label {
    font-size: 1rem;
    user-select: none; 
}

.grid-label {
    font-size: calc(1em + 1vw);
    user-select: none; 
}

.label-svg {
    max-height: 3em;
    width: 100%;
    margin: auto;
    vertical-align: top;
}

.left-wing {
    height: 100vh;
    float: left;
    position: relative;
    z-index: 100;
    background: linear-gradient(to right,  white,rgba(255, 255, 255, 0));
    flex-grow: 1
}

.right-wing {
    height: 100vh;
    top: 0px;
    float: right;
    position: relative;
    z-index: 100;
    background: linear-gradient(to left,  white,rgba(255, 255, 255, 0));
    flex-grow: 1
}

.item-selected {
    filter: brightness(0.9);
}

.wz_list {
    width: 75%;
    margin: auto;
    font-size: 2rem;
    min-height: 330px;

    &__item {
        text-align: left;
    }
}

